.App {
  background-color: rgb(85, 85, 85);
  min-height: 600px;
  padding-top: 50px;
  color: white;
}

.flex-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  gap: 1em;
}

.card {
  padding: 20px;
  width: 350px;
  color: #333;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.list-title {
  margin-left: 40px;
}

.product-list {
  gap: 1em;
}

.btn-container {
  margin-top: 50px;
}
